body{
    background-color: aqua;
}
nav {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
  }

h1{
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
#storelink{
    text-align: center;
}
#homelink{
    text-align: center;
}
a{
    font-family: 'Indie Flower', cursive;
}
form{
    display: block;
    margin-left: 11em;
    padding: 1em 1em 1em 1em;
    
}
#main-content{
    font-family: 'Work Sans', sans-serif;
    border:5px solid gray;
    text-align:center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin:auto;
    width:80%;
    height:36em;
}
#t-header{
    background-color:rgb(247, 238, 120);
}
td{
    border:2px solid #808080;
}
th{
    background-color:rgb(247, 238, 120);
    border:2px solid #808080;
}
#t-foot{
    background-color:lightslategray;
}
.navbar {
    display: inline-block;
    width: 150px;
    height: 20px;
    background-color: rgb(252, 222, 184);
    border: 2px solid rgb(199, 196, 196);
    border-radius: 10px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    text-decoration: none;
    font-size: 18px;
    padding-top: 9px;
    color: rgb(119, 32, 219);
  }
  footer{
      text-align: center;
  }

